[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pandas = "*"
numpy = "*"
nltk = "*"
bs4 = "*"
pypdf2 = "*"
spacy = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl"}
scikit-learn = "==1.0.2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
